@use "../abstracts/mixins";
@use "../abstracts/variables";

.navigation {
  &__nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: variables.$color-background-2;
    justify-content: space-between;
    padding: 20px 50px;

    @include mixins.respond(tab2) {
      padding: 10px 30px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

    // once screen size is smaller than tab2, hide the list and show the menu button
    @include mixins.respond(tab2) {
      display: none; // Hidden by default
    }
  }

  &__menu {
    display: none;

    @include mixins.respond(tab2) {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
    }
  }

  &__item {
  }
  &__button {
    z-index: 2000;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-family: Rosarivo sans-serif;
      letter-spacing: 2.7px;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 1rem 2rem;
      color: variables.$color-brand;
      text-decoration: none;
      text-transform: uppercase;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }
    &:hover {
      color: variables.$color-tan;
    }
  }

  &__mobile-nav {
    background-color: variables.$color-background-2;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__mobile-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__checkbox {
    display: none;
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__mobile-nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 1.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: variables.$color-grey-dark-3;
      display: inline-block;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &:before {
      top: -0.8rem;
    }

    &:after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  // LOGO
  &__logo-box {
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__brand {
    font-family: "Fraunces", cursive;
    font-size: 4rem;
    color: variables.$color-brand;
    line-height: 6rem;

    @include mixins.respond(tab2) {
      font-size: 3.6rem;
      line-height: 5.4rem;
    }
    @include mixins.respond(phone2) {
      font-size: 3.24rem;
      line-height: 4.32rem;
    }
  }

  &__subbrand {
    font-family: "Montserrat", cursive;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-indent: 1rem;
    color: variables.$color-wood;

    @include mixins.respond(tab2) {
      font-size: 1.8rem;
      letter-spacing: 0.9rem;
      text-indent: 0.9rem;
    }
    @include mixins.respond(phone2) {
      font-size: 1.62rem;
      letter-spacing: 0.81rem;
      text-indent: 0.81rem;
    }
  }
}
