@use "../abstracts/variables";

.btn-link {
  font-family: Rosarivo, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: variables.$color-brand;
  letter-spacing: 1.4px;
  &:hover {
    color: variables.$color-tan;
  }
}
