@use "../abstracts/variables";

:root {
  --no-of-slides: 4;
  --slides-in-view: 4;
  --slide-width: 500px;
  --slide-height: 750px;
  --iteration-time: 10s;
}
#box1 {
  background-image: url("../img/real/image5.jpg");
  background-size: cover;
}
#box2 {
  background-image: url("../img/real/image20.jpg");
  background-size: cover;
}
#box3 {
  background-image: url("../img/real/image19.jpg");
  background-size: cover;
}
#box4 {
  background-image: url("../img/real/image22.jpg");
  background-size: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides) * -1));
  }
}

.gallery {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.gallery-slide {
  display: inline-block;
  animation: 17s slide infinite linear;

  &__image {
    height: var(--slide-height);
    width: var(--slide-width);
    display: inline-flex;
  }
}

.gallery-slide-paused {
  animation-play-state: paused; /* Pause the animation on hover */
}
