@use "../abstracts/mixins";

.portfolio {
  &-item {
    width: 305px;
    text-align: center;
    h2 {
      margin-top: 1rem;
    }

    @include mixins.respond(phone2) {
      width: auto;
      padding: 0 1rem;
    }
  }

  &-image {
    height: 410px;
    width: 100%;
    object-fit: cover;

    @include mixins.respond(phone2) {
      width: 100%;
      height: auto;
    }
  }
}
