@use "../abstracts/mixins";
@use "../abstracts/variables";

body {
  font-family: lato;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  color: variables.$color-grey-dark;
}

.heading-primary {
  color: variables.$color-white;
  margin-right: 2em;

  &--main {
    display: block;
    text-align: center;
    font-family:
      Playfair Display,
      sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 1rem;
    // animation-name: moveInLeft;
    // animation-duration: 1s;
    // -- maybe use this animation later/ for something else
    color: variables.$color-brand;

    @include mixins.respond(tab2) {
      letter-spacing: 0.9rem;
      font-size: 4.5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-family:
    Playfair Display,
    sans-serif;
  font-size: 3.5rem;
  line-height: 1.7em;
  font-weight: 400;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  color: variables.$color-brand;

  @include mixins.respond(tab2) {
    font-size: 3.15rem;
    letter-spacing: 2.97px;
  }
}

.heading-tertiary {
  font-size: variables.$default-font-size;
  letter-spacing: 6px;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 400;
  color: variables.$color-brand;

  @include mixins.respond(tab2) {
    font-size: 1.8rem;
    letter-spacing: 5.4px;
  }
}

.paragraph {
  font-size: variables.$default-font-size;
  font-family: Rosarivo, sans-serif;
  word-wrap: break-word;
}

.description {
  font-size: 1.5em;
  font-family: Rosarivo, sans-serif;
  color: variables.$color-black;
}

.sub-heading {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.horizontal-line {
  border-bottom: 1px solid variables.$divider-color;
}
