@use "../abstracts/mixins";
@use "../abstracts/variables";

.section-features {
  padding: 20rem 0;
  background-image: url("../img/real/Gradient1.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  @include mixins.respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-sell {
  padding-top: 2rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h2 {
    margin-bottom: 3rem;
  }
  h2,
  h3 {
    width: 65vw;
    text-align: center;
  }
  p {
    margin: 0 auto;
    word-wrap: break-word;
    width: 55%;
    padding-top: 1rem;
  }
  a {
    margin: 0 auto;
    display: block;
    padding: 3rem 0;
  }
}

.section-portfolio {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 10rem 0;
}

.section-meet {
  display: flex;
  padding: 10rem 0;
  margin: 0 15%;
  align-items: center;
  justify-content: center;
  > * {
    flex: 1 40%;
  }

  img {
    object-fit: cover;
    height: 500px;
    width: 500px;
  }
  .meet-details {
    margin: 4rem;
  }
  p:nth-child(2) {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  a {
    margin-top: 1.5rem;
    display: block;
  }
}

.section-recent-sessions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: url("../img/real/Gradient1.jpg");
  h2 {
    padding: 1.5rem 2rem;
    background-color: white;
    margin: 0 auto;
  }
}

.section-testimonials {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-container {
  width: 1000px;
  height: 640px;
  padding: 17rem;
  background-image: url("../img/real/family1.jpg");
  background-size: cover;
  div {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.section-socials {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  a {
    font-family: Rosarivo, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
  }
}
