@use "../abstracts/mixins";
@use "../abstracts/variables";

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__sell {
    padding-top: 2rem;

    a {
      padding: 3rem 0;
    }
    @include mixins.respond(phone2) {
      p {
        padding: 0 1rem;
      }
    }
  }

  &__portfolio {
    flex-direction: row;
    gap: 4rem;
    padding: 10rem 0;

    @include mixins.respond(tab2) {
      padding: 10rem 1rem;
    }

    @include mixins.respond(phone2) {
      flex-direction: column;
    }
  }

  &__pricing {
    padding: 5rem 0;
    margin-bottom: 5rem;
    border-bottom: 1px solid variables.$divider-color;
  }

  &__double-col {
    flex-direction: row;
    padding: 10rem 0;

    a {
      margin-top: 1.5rem;
      display: block;
    }
    div {
      flex: 1;
    }

    @include mixins.respond(phone2) {
      flex-direction: column;
      .section-image {
        order: 1;
      }
      div {
        order: 2;
      }
    }
  }

  &__recent-sessions {
    height: 600px;
    background-image: url("../img/real/Gradient1.jpg");
    h2 {
      padding: 1.5rem 2rem;
      background-color: white;
      margin: 0 auto;
    }
  }

  &__testimonials {
    margin-top: 10rem;
    margin-bottom: 2rem;
    @include mixins.respond(phone2) {
      display: none;
    }
  }
  &__mobile-test {
    display: none;
    @include mixins.respond(phone2) {
      display: flex;
    }
    div {
      text-align: center;
      width: 60%;
    }
    h2 {
      margin-bottom: 3rem;
    }
  }

  &__socials {
    margin: 5rem 0;
    a {
      font-family: Rosarivo, sans-serif;
      font-size: 2rem;
      text-decoration: underline;
    }
  }
}

.background-container {
  height: 640px;
  padding: 17rem;
  background-image: url("../img/real/family1.jpg");
  background-size: cover;
}

.testimonial-box {
  background-color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
